.containerclass {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;    
}

.bgAbsolute {
    position: absolute;
    opacity: 0.3;
    display: block;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.slds-card {
    /*
    background-image: url(/resource/1677167568000/lwc_backgroundC360?), linear-gradient(180deg, rgba(48,113,157,1) 25%, rgba(111,159,178,1) 68%, rgba(99,152,170,1) 94%);
    */
    color: white;
    font-family: "Salesforce Sans";
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.slds-card-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 9px 5px -9px rgba(0,0,0,0.3);
    border-radius: .5rem;
}

.slds-slider-label__range {
    display: none !important;
}

.opacityLabel {
    opacity: 0.75;
    margin-right: 1rem;
}

.opacityHorLine {
    opacity: 0.5;
    margin: 5px 15px;
}

.customSlider {
    width: 100%;
    height: 5px;
    margin-top: 1rem;
    background-color: rgba(255,255,255,0.3);
    display: block;
}

.sliderProgress {
    height: 5px;
    background-color: rgba(255,255,255,0.5);
}

/** gauge **/

.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: rgba(255,255,255,0.5);
    overflow: hidden;
    margin-top: .5rem;
    max-width: 120px;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
    overflow: hidden;
}
.gauge .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: rgb(48,113,157);
    border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
  position:  absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: -1px;
  background-color: rgba(255,255,255,0.3);
  transform:rotate(0deg); 
  transform-origin: bottom center; 
  transition-duration: 600;
}

.gauge .value {
    position:absolute; bottom:0%; left:0;   
    width:100%; 
    text-align: center;
}

.gauge .min {
    position:absolute; 
    bottom:0; left:5%;   
}
.gauge .max {
    position:absolute; 
    bottom:0; right:5%;   
}

/** slds-col-action **/

.slds-col-action {
    cursor: pointer;
}

.slds-col-action:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: .5rem;
}